@import url("https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap");

$font_family: "Yusei Magic", sans-serif;

$primary_color: #fff;
$secondary_color: #0a5254;
$tertiary_color: #424242;
$back: #0dc3c3;
